{% extends 'base.html' %} {% load static %}

{% block title %}
Réservation
{% endblock %}



{% block header %}
<div class="container-fluid img-book py-5">
  <div class="row justify-content-center">
    <div class="col-lg-6">
      <h3 class="pb-5 text-light">Réserver votre suite</h3>

      <form>
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">
            <i class="fas fa-hotel"></i>
          </span>
          <input type="text" class="form-control" placeholder="Choisir un hôtel" />
        </div>
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">
            <i class="fas fa-bed"></i>
          </span>
          <input type="text" class="form-control" placeholder="Suite" />
        </div>
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">
            <i class="fa-solid fa-calendar-check"></i>
          </span>
          <input type="datetime-local" class="form-control"  />
        </div>
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">
            <i class="fa-solid fa-calendar-check"></i>
          </span>
          <input
            type="datetime-local"
            class="form-control"
            
          />
        </div>

        <div class="d-grid gap-2">
          <input
            type="submit"
            value="Envoyer"
            class="btn btn-custom btn-block text-light btn-lg"
          />
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
{% endblock %}

