{% extends 'base.html' %} {% load static %} 


{% block title %} 
Nous Contacter
{%endblock %}

<!--- Le Formulaire de contact -->

{% block header %} 
<h1 class="bg-header text-center py-5 fw-bold text-custom animate__animated animate__backInLeft	infinite animate__slow	3s">Contactez-nous</h1>
{% endblock %} 


{% block content %}
<div class="contact container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-md-7 pb-5">
      <h2 class="fw-bold pt-5 fs-1 animate__animated animate__backInUp ainfinite animate__slow	3s">Contactez-nous</h2>
      <p class="pb-3 fs-5 animate__animated animate__fadeInDownBig ainfinite animate__slow	3s">
        Vous avez une question ? Utilisez notre formulaire de contact et nos
        équipes vous répondrons dans les meilleurs délais.
      </p>
      <section>
        <div class="container pb-5">
          <div class="row direction">
            <div class="col-lg-4 col-md-6">
              <div class="contact-text py-2 bg-custom border border-dark">
                <i class="fa fa-envelope"></i>
                <span>Notre adresse:</span>
                <p>47 place de jovialité <br />77173 Chevry-Cossigny</p>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="contact-text py-2 bg-custom border border-dark">
                <i class="fa-solid fa-at"></i>
                <span>Email:</span> <br />
                <a href="mailto:info@hypnos.com"
                  >contact@hypnos.fr <br /><br
                /></a>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="contact-text py-2 bg-custom border border-dark">
                <i class="fa-solid fa-phone"></i>
                <span>Par Téléphone:</span>
                <p>(+33) 07 02 02 02 02<br /><br /></p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section>
        <form class="input-form" method="POST" action="{% url 'contact' %}">
          {% csrf_token %}
          {{ form }}
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user"></i>
            </span>
            <input type="text" class="form-control" name="last_name" placeholder="Nom" />
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-user"></i>
            </span>
            <input type="text" class="form-control" name="first_name" placeholder="Prénom" />
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-at"></i>
            </span>
            <input type="text" class="form-control" name="email" placeholder="Email" />
          </div>
  
          <div class="input-group input-group-lg mb-3">
            <div class="input-group input-group-lg">
              <span class="input-group-text">
                <i class="fas fa-list"></i>
              </span>
              <select class="form-select" aria-label="Motifs">
                <option selected>Choisir un motif</option>
                <option value="Je souhaite poser une réclamation">Je souhaite poser une réclamation</option>
                <option value="Je souhaite commander un service supplémentaire">
                  Je souhaite commander un service supplémentaire
                </option>
                <option value="Je souhaite en savoir plus sur une suite">
                  Je souhaite en savoir plus sur une suite
                </option>
                <option value="J'ai un souci avec cette application">J'ai un souci avec cette application</option>
              </select>
            </div>
          </div>
          <div class="input-group input-group-lg mb-3">
            <span class="input-group-text">
              <i class="fas fa-pencil-alt"></i>
            </span>
            <textarea
              rows="4"
              class="form-control"
              placeholder="Saisir votre message"
            ></textarea>
          </div>
          <div class="d-grid gap-2">
            <button
              type="submit"
              value="Envoyer"
              class="btn btn-custom btn-lg text-light"
            >
              Envoyer
            </button>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
{% endblock %}
