{% extends 'base.html' %} {% load static %} 

{% block title %} 
Accueil
{%endblock%} 



{% block header %}
<header>
  <div class="home container-fluid">
    <div class="row h-100 align-items-start py-5">
      <div class="text-center">
        <h1 class="fw-light text-light">Bienvenue dans le Groupe <span class="fw-bold">HYPNOS</span></h1>
        <p class="lead">Venez passez un moment romantique et inoubliable</p>
      </div>
    </div>
  </div>
</header>
{% endblock %} 


{% block content %} 
<section class="middle-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-12 col-md-offset-2 col-xl-8 text-center">
        <h2>Déouvrez tous nos services sur mesure</h2>
        <p>Nous proposons des services de restauration, un room-service, un spa avec piscine chauffé à 22°c.</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="service left-icon">
        <div class="icon">
          <img src="images/icon-hotel.png" alt="logo hotel">
        </div>
        <div class="text">
          <h3>7 Hôtels en France</h3>
          <p>Découvrez nos 7 établissement dans les plus grand villes de France.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4"><i class="fa-light fa-hotel"></i></div>
    <div class="col-md-4"><i class="fa-light fa-hotel"></i></div>
  </div>
</section>
{% endblock %}
