{% extends 'base.html' %} {% load static %} {% block header %}

<header class="masthead">
  <div class="container">
    <div class="row h-100 align-items-center">
      <div class="col-12 text-center">
        <h1 class="fw-light">Vertically Centered Masthead Content</h1>
        <p class="lead">A great starter layout for a landing page</p>
      </div>
    </div>
  </div>
</header>

{% endblock %} {% block content %}

<div class="text-intro text-light bg-transparent">
  <h1>Bienvenue dans le groupe hôtelier Hypnos</h1>
</div>

<div class="row justify-content-center">
  <div class="col-md-12 col-md-offset-2 col-xl-8 text-center">
    <h2>Nos services en chambres</h2>
    <p></p>
  </div>
</div>

{% endblock %}
