{% extends 'base.html' %} {% load static %} 

{% block title %} 
Accueil
{%endblock%} 

/************ L'Accueil' ************/

{% block header %}

  <div class="home container-fluid">
    <div class="row align-items-center justify-content-center py-5">
      <div class="text-center">
        <h1 class="fw-light text-light txt-animation">Bienvenue dans le Groupe <span class="fw-bold">HYPNOS</span></h1>
        <p class="lead">Venez passez un moment romantique et inoubliable</p>
      </div>
    </div>
  </div>

{% endblock %} 


{% block content %} 

{% endblock %}
