{% extends 'base.html' %} {% load static %} {% block title %}
<title>Nos hôtels</title>
{% endblock %} {% block content %}
<section class="hotel-list py-5 bg-container">
  <h1 class="text-center py-3">Nos Hôtels</h1>
  <div class="container">
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4 justify-content-center"
    >
      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/hotel.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Cocooning</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <button
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/hotel8.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Kilimandjaro</h4>
          <h5 class="card-title text-center">Courchevel</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <button
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/hotel2.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Carlton</h4>
          <h5 class="card-title text-center">Cannes</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <button
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/hotel5.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Splendid Hôtel</h4>
          <h5 class="card-title text-center">Nice</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <button
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/hotel4.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Hôtel Meetic</h4>
          <h5 class="card-title text-center">Strasbourg</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <button
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/hotel7.jpg' %}"
            class="card-img-"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Beach Hôtel</h4>
          <h5 class="card-title text-center">Quiberon</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <button
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/hotel6.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Casino Royale</h4>
          <h5 class="card-title text-center">Deauville</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <button
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
