{% extends 'base.html' %} {% load static %} {% block title %}
<title>Nos Suites</title>
{% endblock %} {% block content %}
<section class="hotel-list py-5 bg-container">
  <h2 class="text-center py-3">Nos Suites</h2>
  <div class="container">
    <div
      class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 justify-content-center"
    >
      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites10.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
            height="200"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Cocooning</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <a
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill float-end"
              >
                Découvrir</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites11.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
            height="200"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Cocooning</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <a
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites3.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
            height="200"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Cocooning</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <a
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites4.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
            height="200"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Cocooning</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <a
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites5.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
            height="200"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Cocooning</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <a
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites8.jpg' %}"
            class="card-img-"
            alt="image hypnos paris"
            height="200"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Cocooning</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <a
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites4.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
            height="200"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Cocooning</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <a
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites11.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
            height="200"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Cocooning</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <a
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir</a
              >
              <a
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Réserver</a
              >
            </div>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites9.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
            height="200"
          />
        </div>

        <div class="card-body bg-custom">
          <h4 class="text-center">Le Cocooning</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="text-center">
            <div class="btn-group">
              <a
                href="#"
                type="button"
                class="btn btn-sm btn-custom text-light rounded-pill"
              >
                Découvrir</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
