{% extends 'base.html' %} {% load static %} 

{% block title %} 
Nos Suites 
{%endblock %} 

<!--- Les suites -->

{% block content %}

<section class="hotel-list py-5 bg-container">
  <h1 class="text-center py-3 fw-bold">Nos Suites</h1>
  <div class="container">
    <div
      class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 justify-content-center"
    >
      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites10.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center">
          <h4 class="text-center">Suite Deluxe</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="#" class="details me-5">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-3"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>
      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suite15.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center">
          <h4 class="text-center">Suite Saint-Honoré</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="#" class="details me-5">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-3">
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites3.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center">
          <h4 class="text-center">Suite Honeymoon</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="#" class="details me-5">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-3"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites4.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center">
          <h4 class="text-center">Suite Penthouse</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="#" class="details me-5">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-3"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites16.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center">
          <h4 class="text-center">Suite Royale</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="#" class="details me-5">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-3"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites8.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>
        <div class="card-body bg-custom text-center">
          <h4 class="text-center">Suite Impérial</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="#" class="details me-5">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-3"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites12.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>
        <div class="card-body bg-custom text-center">
          <h4 class="text-center">Suite Lumière</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="#" class="details me-5">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-3"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites11.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>
        <div class="card-body bg-custom text-center">
          <h4 class="text-center">Suite Presidentielle</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="#" class="details me-5">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-3"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites9.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center">
          <h4 class="text-center">Suite Prestige Junior</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="#" class="details me-5">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-3"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="a"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
