{% extends 'base.html' %} {% load static %} 

{% block title %} 
Nos Suites 
{%endblock %} 

<!--- Les suites -->

{% block header %}
  <h1 class="text-center py-5 fw-bold bg-header text-custom animate__animated animate__backInLeft	infinite animate__slow	3s">Nos Suites</h1>
{% endblock %}


{% block content %}

<section class="hotel-list py-3 bg-container">
  <div class="container">
    <div
      class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 justify-content-center"
    >
      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-custom">
          <img
            src="{% static 'images/suites17.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center rounded-bottom">
          <h4 class="text-center">Suite Deluxe</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="{% url 'suite_deluxe' %}" class="details me-3">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-2"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>
      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suite15.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center rounded-bottom">
          <h4 class="text-center">Suite Saint-Honoré</h4>
          <h5 class="card-title text-center">Courchvel</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="{% url 'suite_saint_honore' %}" class="details me-3">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-2">
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites20.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center rounded-bottom">
          <h4 class="text-center">Suite Honeymoon</h4>
          <h5 class="card-title text-center">Cannes</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="{% url 'suite_honeymoon' %}" class="details me-3">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-2"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites4.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center rounded-bottom">
          <h4 class="text-center">Suite Penthouse</h4>
          <h5 class="card-title text-center">Nice</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="{% url 'suite_penthouse' %}" class="details me-3">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-2"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites16.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center rounded-bottom">
          <h4 class="text-center">Suite Royale</h4>
          <h5 class="card-title text-center">Strasbourg</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="{% url 'suite_royale' %}" class="details me-3">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-2"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites21.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>
        <div class="card-body bg-custom text-center rounded-bottom">
          <h4 class="text-center">Suite Impériale</h4>
          <h5 class="card-title text-center">Le Beach Hôtel Quiberon</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="{% url 'suite_imperiale' %}" class="details me-3">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-2"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites13.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>
        <div class="card-body bg-custom text-center rounded-bottom">
          <h4 class="text-center">Suite Lumière</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="{% url 'suite_lumiere' %}" class="details me-3">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-2"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites11.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>
        <div class="card-body bg-custom text-center rounded-bottom">
          <h4 class="text-center">Suite Presidentielle</h4>
          <h5 class="card-title text-center">Deauville</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="{% url 'suite_presidentielle' %}" class="details me-3">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-2"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="button"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>

      <div class="col rounded-top">
        <div class="card shadow-sm text-center text-white">
          <img
            src="{% static 'images/suites14.jpg' %}"
            class="card-img-top"
            alt="image hypnos paris"
          />
        </div>

        <div class="card-body bg-custom text-center rounded-bottom">
          <h4 class="text-center">Suite Prestige Junior</h4>
          <h5 class="card-title text-center">Paris</h5>
          <p class="card-text text-center py-2">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <div class="btn-group">
            <a href="{% url 'suite_prestige_jr' %}" class="details me-3">En savoir plus</a>
            <a
              href="{% url 'login' %}"
              type="button"
              class="btn btn-sm btn-custom text-light rounded-pill me-2"
            >
              Réserver
            </a>
            <a
            href="https://www.booking.com/" target="_blank"
            type="a"
            class="btn btn-sm btn-booking text-light rounded-pill"
          >
            Booking
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
