{% extends 'base.html' %} {% load static %} 

{% block title %} 
Nos Suites 
{%endblock %} 
image suites


{% block content %}

<section class="container">
  <div class="row container-fluid">
    <h2 class="py-3 text-center animate__animated animate__backInLeft animate__repeat-2	2	infinite animate__slow	3s">Notre Suite Royale</h2>
      <div class="col-md text-center py-3">
        <h3 class="d-inline">Description</h3>  
      <hr>
    <div class="container">
      <div class="row py-3">
        <div class="col-md-4">
          <i class="fa-solid fa-spa fa-2x d-inline px-2"></i>
          <h4 class="d-inline">Spa privatif</h4> 
          <p>Prenez un moment de détente dans notre SPA avec piscine et jaccuzi afin de vous ressourcer.</p> 
        </div>
        <div class="col-md-4">
          <i class="fa-solid fa-utensils fa-2x d-inline px-2"></i>
          <h4 class="d-inline">Room Service 24/24</h4>  
          <p>Notre service de restauration vous propose une carte gourmet, réalisé par notre <strong>Chef Emmanuel SCELLES.</strong></p> 
        </div>
        <div class="col-md-4">
          <i class="fa-solid fa-bell-concierge fa-2x d-inline px-2"></i>
          <h4 class="d-inline">Voiturier 24/24</h4>  
          <p>Un voiturier est à votre disposition pour vous rendre où vous le souhaitez et ceux à tout moment de la journée!</p> 
        </div>
      </div>
    </div>
    <hr class="my-4">
    <p class="lead">Dans un écrin de 90 m2, l'art se décline sous ses formes les plus exquises dans nos suites Deluxe : sculptures délicates et mobilier Louis XV ou Louis XVI, dans un espace raffiné aux tonalités douces.
      Les tissus aux tons pastels et actuels des plus grandes maisons offrent une harmonie propice au bien-être. Ces suites se composent d'un salon séparé doté d'une entrée distincte et d'une vaste chambre à coucher. Elles donnent sur le jardin de l'hôtel de 1200 m2 ou sur la calme cour intérieure de l'Hôtel. Les salles de bain possèdent une double vasque et une douche séparée.
      Ces suites peuvent communiquer avec une chambre Deluxe pour accueillir une famille dans le plus grand confort.
    </p>
    </div>
    <div class="row-md-6 pt-4"> 
      <img src="{% static 'images/spa8.jpg' %}" alt="image suites" class="img-fluid pb-2" width="300" height="300" >
      <img src="{% static 'images/spa6.jpg' %}" alt="image suites" class="img-fluid pb-2" width="300" height="300" >
      <img src="{% static 'images/room1.jpg' %}" alt="image suites" class="img-fluid pb-2" width="300" height="300" >
      <img src="{% static 'images/suites17.jpg' %}" alt="image suites" class="img-fluid pb-2" width="300" height="300" >
    </div>
    
  </div>
 
</section>

<section class="hotel-list py-5">
  <div class="container-fluid">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 justify-content-center">
      <div>
        <a class="details me-5 fw-bold fs-3">Tarif: 2000 €</a>
        <a
          href="{% url 'login' %}"
          type="button"
          class="btn btn-sm btn-custom text-light rounded-pill me-3"
        >
          Réserver
        </a>
        <a
          href="https://www.booking.com/" target="_blank"
          type="button"
          class="btn btn-sm btn-booking text-light rounded-pill"
          >
          Booking
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}