{% load static %}
<footer class="text-center text-light">
  <!-- Grid container -->
  <div class="container-fluid p-2">
    <!-- Section: Social media -->
    <section class="mb-0">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="https://twitter.com"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="https://www.instagram.com"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
  </div>
  <!-- Grid container -->
  
  <!-- Copyright -->
  <div class="text-center">
    Tout droits réservés © 2020 Hypnos Emmanuel SCELLES
  </div>
  <div class="pb-3">
    <a href="{% url 'rgpd' %}" class="menu text-light">Mentions Légales</a>
  </div>
  
  <!-- Copyright" -->
</footer>