{% load static %}
<footer class="text-center text-light">
  <!-- Grid container -->
  <div class="container-fluid p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="#!"
        role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #55acee;"
        href="https://twitter.com/Thanos_974"
        role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-primary btn-floating m-1"
        style="background-color: #ac2bac;"
        href="#!"
        role="button"
        ><i class="fab fa-instagram"></i
      ></a>
    </section>
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center pb-3">
    Tout droits réservés © 2020 Hypnos Emmanuel SCELLES
    
  <!-- Copyright -->
</footer>