{% load static %}

<!--- Liens active des pages -->
{% url 'home' as home %} 
{% url 'hotel' as hotel %} 
{% url 'suites' as suites %}
{% url 'contact' as contact %} 
{% url 'login' as login %} 
{% url 'logout' as logout %}
{% url 'signup' as signup %}

<!--- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="{% url 'home' %}">
      <img
        class="img-fluid"
        src="{% static 'images/logo.png' %}"
        alt="logo groupe hypnos"
        width="90"
        height="70"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarCollapse">
      <ul class="navbar-nav mb-2 mb-lg-0 text-light text-center">
        <li class="nav-item">
          <a
            class="nav-link menu fs-5 {% if request.path == home %} active {% endif %}"
            aria-current="page"
            href="{% url 'home' %}" 
            >Accueil</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link menu fs-5 {% if request.path == hotel %} active {% endif %}"
            href="{% url 'hotel' %}"
            >Hôtels</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link menu fs-5 {% if request.path == suites %} active {% endif %}"
            href="{% url 'suites'  %}"
            >Suites</a
          >
        </li>
        <li class="nav-item ">
          <a
            class="nav-link menu fs-5 {% if request.path == contact %} active {% endif %}"
            href="{% url 'contact' %}" 
            >Contact</a
          >
        </li>
        
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0 text-light text-center">

      {% if user.is_authenticated %}
        <li class="nav-item text-custom px-5">
          {{ user.username }}
          <a
            class="nav-link menu fs-5 px-3 d-inline {% if request.path == logout %} active {% endif %}"
            href="{% url 'logout' %}"
            >Déconnexion</a
          >
        </li>
      {% else%}
        <li class="nav-item">
          <a
            class="nav-link menu fs-5 {% if request.path == login %} active {% endif %}"
            href="{% url 'login' %}" 
            >Connexion</a
          >
        </li>
        <li class="nav-item ">
          <a
            class="nav-link menu fs-5 {% if request.path == signup %} active {% endif %}"
            href="{% url 'signup' %}" 
            >S'inscrire</a
          >
        </li>
      {% endif %}
      </ul>

        {% comment %} <li class="nav-item dropdown fs-5 menu">
          <a class="nav-link dropdown-toggle {% if request.path == login %} active {% endif %} {% if request.path == signup %} active {% endif %}" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Espace Membre
          </a>
          <ul class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item " href="{% url 'login' %}">Connexion</a></li>
            <li><a class="dropdown-item " href="{% url 'signup' %}">S'inscrire</a></li>
          </ul>
        </li> {% endcomment %}
      
            
    </div>
  </div>
</nav>
