{% extends 'base.html' %} {% load static %}

{% block title %}
 Espace Client
{% endblock %}

{% block header %}
 <h2 class="text-center py-5 bg-header animate__animated animate__backInLeft	infinite animate__slow	3s">Espace Membre Hypnos</h2>
{% endblock  %}


{% block content %}
<section>
  <div class="container py-5">
    <div class="row">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title pb-3">Votre compte</h3>
            
            <h5 class="card-subtitle mb-2">Bonjour {{ request.user.username }}</h5>
            <p class="card-text pb-4">Bienvenue sur votre espace membre du groupe Hypnos. <br/> Ici vous pouvez gérer vos réservations, mote de passe et vos coordonnées.</p>
            
            <div class="py-3">
              <a href="{% url 'book' %}" type="button" class="btn btn-custom btn-sm text-light rounded-pill">Réserver une suite</a>
            </div>
            <div> 
              <a href="#" type="button" class="btn btn-custom btn-sm text-light rounded-pill">Modifier votre mot de passe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<section>
  <div class="container frame mb-3 text-center">
    <h1>- Voici vos réservations -</h1>
    <div class="row">
      <div class="col table-responsive">
        <table class="table tablestriped align-middle mt-5">
          <thead>
            <tr>
              <th scope ="col">Référence</th>
              <th scope ="col">Suite</th>
              <th scope ="col">Dates</th>
              <th scope ="col">Prix total</th>
              <th scope ="col">Actions</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>
  </div>
</section>
{% endblock %}