{% extends 'base.html' %} {% load static %}

{% block title %}
 Espace Client
{% endblock %}

{% block header %}
 <h2 class="text-center py-5 bg-header">Espace Membre Hypnos</h2>
{% endblock  %}


{% block content %}
<section>
  <div class="container py-5">
    <div class="row">
        <div class="card text-center">
          <div class="card-body">
            <h3 class="card-title pb-3">Votre compte</h3>
            
            <h5 class="card-subtitle mb-2">Bonjour</h5>
            <p class="card-text pb-4">Bienvenue sur votre espace membre du groupe Hypnos. <br/> Ici vous pouvez gérer vos réservations, mote de passe et vos coordonnées.</p>
            
            <div class="py-3">
              <a href="{% url 'book' %}" type="button" class="btn btn-custom btn-sm text-light rounded-pill">Réserver une suite</a>
            </div>
            <div> 
              <a href="#" type="button" class="btn btn-custom btn-sm text-light rounded-pill">Modifier votre mot de passe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<hr>
<section>
  <h2 class="text-center pb-5">Vos réservations</h2>
  <div class="container">
    <ul>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>

</section>
{% endblock %}