{% extends 'base.html' %} {% load static %} 



{% block title %}
S'inscrire
{% endblock %} 

<!--- Formulaire d'inscription -->


{% block header %}

{% endblock %}



{% block content %}
 <div class="container-fluid img-signup py-5">
  <div class="row justify-content-center box">
    <div class="col-lg-4">
      <h2 class="pb-5 fw-bold text-center animate__animated animate__backInUp ainfinite animate__slow	3s">Créer votre compte Hypnos</h2>
      <form method="POST" class="justify-content-center text-center" action="">
        {% csrf_token %}
        
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">
            <i class="fas fa-user"></i>
          </span>
          <input type="text" class="form-control" id="username" name="username" required placeholder="Pseudo" />
        </div>
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">
            <i class="fas fa-user"></i>
          </span>
          <input type="text" class="form-control" id="last_name" name="last_name"placeholder="Nom" />
        </div>
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">
            <i class="fas fa-user"></i>
          </span>
          <input type="text" class="form-control" id="first_name" name="first_name" placeholder="Prénom" />
        </div>
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">
            <i class="fas fa-at"></i>
          </span>
          <input type="email" class="form-control" id="email" name="email" placeholder="Email" />
        </div>
        <div class="input-group input-group-lg mb-3">
          <span class="input-group-text">
            <i class="fas fa-lock"></i>
          </span>
          <input
            type="password"
            class="form-control"
            placeholder="Mot de passe"
          />
        </div>
        <div class="d-grid gap-2 shadow-lg">
          <input
            type="submit"
            value="S'inscrire"
            class="btn btn-custom btn-block text-light btn-lg"
          />
        </div> 
      </form>
    </div>
  </div>
</div>
{% endblock %}
