@import url('https://fonts.googleapis.com/css2?family=Newsreader&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
  --bs-gray: #6667ab;
  --bs-blue: #41b2c9;
  --bs-white: #ffffff;
  --bs-card: #d1d4d4;
  --bs-gunmetal: #2f3542;
  --font-family: 'Newsreader', serif;
  --font-family-custom: 'Poppins', sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
  overflow-x: hidden;
  font-family: var(--font-family);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
 
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-custom);
  
}

