@import 'root.css';

/********** Header **********/

/********** Nav **********/

nav {
  background-color: var(--bs-gray);
}

.navbar-brand {
  font-family: var(--font-family);
}

nav > div > a {
  color: var(--bs-white);
}

.nav-link {
  color: var(--bs-white);
}

.nav-link:hover {
  color: var(--bs-gunmetal);
}

/********** Suites **********/

a {
  color: var(--bs-blue);
}

a:hover {
  color: var(--bs-gray);
}

/********** Button **********/

.btn-custom {
  background-color: var(--bs-blue);
}

.btn:hover {
  background-color: var(--bs-gray);
}

/********** Background **********/

.bg-container {
  background-color: #c8cecd;
}

.bg-custom {
  background-color: #e4e6e6;
}

/* #bg-image {
  background: url('images/connexion.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

/********** Footer **********/

footer {
  background-color: var(--bs-gray);
  color: var(--bs-white);
}
