@import 'root.css';

/********** Header **********/

.home {
  background: url('https://cdn.pixabay.com/photo/2019/07/23/09/49/hotel-4357159_960_720.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-book {
  background: url('https://cdn.pixabay.com/photo/2021/02/03/00/10/receptionists-5975962_960_720.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-signup,
.img-login {
  background: url('https://cdn.pixabay.com/photo/2017/08/10/16/11/burj-al-arab-2624317_1280.jpg');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.contact {
  background: url('https://cdn.pixabay.com/photo/2018/04/07/18/06/diary-3299128_960_720.jpg');
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

/********** Navbar **********/

nav {
  background-color: var(--bs-gray);
}

.navbar-brand {
  font-family: var(--font-family);
}

/********** Suites **********/

.details {
  color: var(--bs-blue);
}

.details:hover {
  color: var(--bs-gray);
}

/********** Background **********/

.bg-container {
  background-color: var(--bs-white);
  
}

.bg-custom {
  background-color: var(--bs-card);
}

.bg-header {
  background-color: var(--bs-card);
}

.text-custom {
  color: var(--bs-white);
}

/********** Footer **********/

footer {
  background-color: var(--bs-gray);
  color: var(--bs-white);
}

/********** Button et Button hover **********/

.btn-custom {
  background-color: var(--bs-blue);
}

.btn:hover {
  background-color: var(--bs-gray);
}

.btn-booking {
  background-color: var(--bs-gunmetal);
}

.btn-booking:hover {
  background-color: var(--bs-gray);
}

/********** Navbar hover **********/
.menu:hover {
  background-color: var(--bs-gunmetal);
  border-radius: 10px;
}


/********** Media Queries pour desktop **********/

@media screen and (min-width: 576px) {
  
  .input-form {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 768px) {
  
  .input-form {
    margin-left: 50px;
    margin-right: 50px;
  }
}

@media screen and (min-width: 992px) {
 
}

@media screen and (min-width: 1200px) {
  .text-custom {
    color: var(--bs-white);
  }
}

@media screen and (min-width: 1400px) {
  .text-custom {
    color: var(--bs-gunmetal);
  }
}
