@import 'root.css';

/********** Header **********/

.home {
  background: url('https://cdn.pixabay.com/photo/2019/07/23/09/49/hotel-4357159_960_720.jpg')
  no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-book {
  background: url('https://cdn.pixabay.com/photo/2021/02/03/00/10/receptionists-5975962_960_720.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.img-signup,
.img-login {
  background: url('https://cdn.pixabay.com/photo/2018/04/13/11/17/paper-3316268_960_720.jpg')
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact {
  background: url('https://cdn.pixabay.com/photo/2018/04/07/18/06/diary-3299128_960_720.jpg')
    no-repeat center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/********** Nav **********/

nav {
  background-color: var(--bs-gray);
}

.navbar-brand {
  font-family: var(--font-family);
}

/********** Suites **********/

.details {
  color: var(--bs-blue);
}

.details:hover {
  color: var(--bs-gray);
}

/********** Button **********/

.btn-custom {
  background-color: var(--bs-blue);
}

.btn:hover {
  background-color: var(--bs-gray);
}


.menu:hover {
  background-color: var(--bs-gunmetal);
}

/********** Background **********/

.bg-container {
  background-color: #c8cecd;
}

.bg-custom {
  background-color: #e4e6e6;
}

.text-custom {
  color: var(--bs-gunmetal);
}

/********** Footer **********/

footer {
  background-color: var(--bs-gray);
  color: var(--bs-white);
}

@media screen and (min-width: 600px) {
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 960px) {
}
